<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%= form_for @post, :url => posts_path do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-user">
    <%= f.label :trip_title, "旅行タイトル" %>
    <%= f.text_field :trip_title %>
    <%= f.label :trip_title, "説明" %>
    <%= f.text_field :content %>
  </div>
  <%= f.submit "送信" %>
<% end %>

<div class="col-lg-2 side_bar">
  <%= link_to "タイムライン", home_index_path, class: 'btn-square' %>
</div>