<% if @detail.size > 0 %>
  <%= @detail.find_each do |detail| %>
    <div class="form-user card">
      <div class="card-body">
        <div class="card-title">
            <div>
            <% if current_user.id == @post.user_id %>
              <%= link_to(content_tag(:i, 'close', class: 'material-icons delete_img'), plan_path(id: detail.id), :method => :delete) %>
              <%= link_to(content_tag(:i, 'edit', class: 'material-icons edit_img'), plan_path(id: detail.id)) %>
            <% end %>
            </div>

            <!-- <div>開始日</div> -->
            <span>
              <% if detail.start_date.present? %>
                
                <%= detail.start_date.strftime('%Y/%m/%d') %> ~
              <% else %>
                <%= detail.start_date %>
              <% end %>
            </span>

            <!--   <div>終了日</div> -->
            <span>
              <% if detail.close_date.present? %>
                <%= detail.close_date.strftime('%Y/%m/%d') %>
              <% else %>
                <%= detail.close_date %>
              <% end %>
            </span>
    
            <div>
              <% if detail.start_date.present? %>                
                <%= detail.start_date.strftime('%H:%M') %> ~
              <% end %>
              <% if detail.close_date.present? %>
                <%= detail.close_date.strftime('%H:%M') %>
              <% end %>
            </div>

            <div class=""><%= detail.plan_title %></div>

            <div>金額</div>
            <div><%= number_to_currency(detail.cost ||= 0) %></div>



            <div>出発地</div>
            <div>
              <%= detail.start_point %>
              <%= detail.goal_point %>
            </div>

            <div>目的地</div>
            <div></div>
            
            <% if false %>
              <div>所要時間</div>
              <% if detail.duration.present? %>
                <div><%= detail.duration.strftime('%H:%M:%S') %></div>
              <% else %>
                <div><%= detail.duration %></div>
              <% end %>
            <% end %>

            <div>Detail</div>
            <div><%= detail.content %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>