<% if @detail.size > 0 %>
  <% @detail.order("start_date asc").each do |detail| %>
    <div class="form-user card">
      <div class="card-body">
        <div class="card-title">
            <div>
            <% if current_user.id == @post.user_id %>
              <%= link_to(content_tag(:i, 'close', class: 'material-icons delete_img'), plan_path(id: detail.id), :method => :delete) %>
              <%= link_to(content_tag(:i, 'edit', class: 'material-icons edit_img'), plan_path(id: detail.id)) %>
            <% end %>
            </div>

            <!-- <div>開始日</div> -->
            <div class="test">
              <div class="show_date float-left">
                <% if detail.start_date.present? %>
                 <div class=""><%= detail.start_date.strftime('%Y/%m/%d') %></div>
                 <div class=""><%= detail.start_date.strftime('%H:%M') %></div>
                <% else %>
                <div class=""><%= detail.start_date %></div>
                <% end %>
              </div>

              <div class="show_date d-flex align-items-center float-left">
                <% if detail.start_date.present? %>         
                &nbsp;~&nbsp;
                <% end %>
              </div>
            </div>

              <div class="show_date float-left">
                <% if detail.close_date.present? %>
                  <div class=""><%= detail.close_date.strftime('%Y/%m/%d') %></div>
                <% else %>
                  <div class=""><%= detail.close_date %></div>
                <% end %>
                <% if detail.close_date.present? %>
                <div class=""><%= detail.close_date.strftime('%H:%M') %></div>
                <% end %>
             </div>

            <div class="float_clear_left post_show_title"><%= detail.plan_title %>
              <div class="post_show_total float-right">
                <%= number_to_currency(detail.cost ||= 0) %>
              </div>
            </div>


            <div class="post_show_content float-left"><%= detail.start_point %></div>
            <div class="float-left">&nbsp;-&nbsp;</div>
            <div class="post_show_content float-left"><%= detail.goal_point %></div>
            
            <% if false %>
              <div>所要時間</div>
              <% if detail.duration.present? %>
                <div><%= detail.duration.strftime('%H:%M:%S') %></div>
              <% else %>
                <div><%= detail.duration %></div>
              <% end %>
            <% end %>

            <div class="post_show_content float_clear_left"><%= simple_format(detail.content) %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>