<% if @detail.size > 0 %>
  <%= @detail.find_each do |detail| %>
    <div class="form-user card">
      <div class="card-body">
        <div class="card-title">
            <div>Plan Title</div>
            <div><%= detail.plan_title %></div>

            <div>金額</div>
            <div><%= detail.cost %></div>

            <div>開始日</div>
            <% if detail.start_date.present? %>
              <div><%= detail.start_date.strftime('%Y/%m/%d') %></div>
            <% else %>
              <div><%= detail.start_date %></div>
            <% end %>

            <div>終了日</div>
            <% if detail.close_date.present? %>
              <div><%= detail.close_date.strftime('%Y/%m/%d') %></div>
            <% else %>
              <div><%= detail.close_date %></div>
            <% end %>

            <div>出発地</div>
            <div><%= detail.start_point %></div>

            <div>目的地</div>
            <div><%= detail.goal_point %></div>

            <div>所要時間</div>
            <% if detail.duration.present? %>
              <div><%= detail.duration.strftime('%H:%M:%S') %></div>
            <% else %>
              <div><%= detail.duration %></div>
            <% end %>

            <div>Detail</div>
            <div><%= detail.content %></div>
            <% if current_user.id == @post.user_id %>
              <%= link_to('Delete', plan_path(id: detail.id), class: 'btn btn-primary add-btn', :method => :delete) %>
              <%= link_to "Detail", plan_path(id: detail.id), class: 'btn btn-primary add-btn' %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>