<!DOCTYPE html>
<html>
  <head>
    <title>Share trip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<body>
</body>
</html>

  </head>

  <body>
    <header id="header" class="header">
      <%= link_to('Share Trip', root_path, id: 'home_title') %>
        <div class="header-btn">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, class: 'btn-sm btn-light float-right devise-header-btn',id: 'logout_btn', :method => :delete) %>
            <%= link_to "+ New Plan", posts_index_path, class: 'btn btn-primary btn-sm float-right add-btn devise-header-btn' %>
            <%= link_to "Mytrip", mytrips_index_path, class: 'btn btn-primary btn-sm float-right add-btn devise-header-btn' %>
          <% else %>
            <%- if controller_name == 'home' %>
              <%= link_to "ログイン", new_user_session_path, class: 'btn-sm btn-light float-right devise-header-btn' %>
              <%= link_to "アカウント作成", new_user_registration_path, class: 'btn-sm btn-light float-right devise-header-btn' %>
              <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
            <% end %>
          <% end %>
        </div>
    </header>
  <div class="container-fluid body-content">
    <%= yield %>
  </div>
  </body>
</html>